<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "/index.xml" | relURL }}">
<!-- favicon -->
<link rel="shortcut icon" href="/favicon.png" type="image/png">
<link rel="apple-touch-icon" href="/favicon.png">
<!-- CSS -->
{{ $styles := resources.Get "styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
<style>{{ $styles.Content | safeCSS }}</style>